POSTGRES_IMAGE=postgres:16
POSTGRES_CONTAINER_NAME=postgres-academia-dev
POSTGRES_HOST_PORT=5433
POSTGRES_DB=change_me
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me

APP_CONTAINER_NAME=sysacademy-api
APP_HOST_PORT=8080

DB_URL=jdbc:postgresql://localhost:5433/change_me
DB_USERNAME=change_me
DB_PASSWORD=change_me
